.tag-container {
  width: fit-content;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  color: #000000;
  padding: 0px 15px;
  margin-bottom: 10px;
}
